.main{
    align-items: center;
}
body {
    text-align: center;
}

.main {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
}

header, main, footer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}
